<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Portfolio</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- Bootstrap Icons CDN -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<!-- Bootstrap CSS -->




</head>
<body>

  <div class="bg-image"></div>

  <div class="overlay d-flex flex-column justify-content-between align-items-center text-center text-light">

<div class="containers">
    <h1 class="display-block fw-bold">Hello I am MAHMOUD MOUSTAFA </h1>
    <p class="lead mb-4">Back end Developer</p>
    <p class="lead mb-4">node js | django | React | mongodb </p>

  </div>  


  <div class="enter">
    <label for="text">enter you name</label><br>
    <input type="text" id="username" placeholder="your name please"> <br>
    <button onclick="sayHello()"> DONE </button>
 </div>
  <div id="message"></div>
 
    <div class="buttons">
      <a  class="about btn btn-light px-4"><i class="bi bi-info-circle"></i> ABOUT ME</a>
      <a  class="contactme btn btn-light px-4"><i class="bi bi-telephone"></i> CONTACT ME</a>
      <a  href="https://github.com/Mahmoud7mustafa9" class="btn btn-light px-4"><i class="bi bi-github"></i>  github</a>
      
    </div>
    
</div>

    <div class="portfolio">


  <div class="aboutme">

<div class="journey">

    <div class="who">
   <p> name :  <br><span style=" color: #80f7b5;" > MAHMOUD MOUSTAFA <br>EL ASQALANI</span><br><i class="bi bi-code-slash" ></i></p>
   <p> age : <br> <span style="color: #80f7b5;" >26</span> <br><i class="bi bi-cake"></i> </p>
   <p> nationality : <br> <span style="color: #80f7b5;" >EGYPTIAN</span><br><i class="bi bi-flag-fill"></i></p>
</div>

  <div class="container py-5">
    <h2 class="text-center mb-5">My Timeline</h2>

    <ul class="timeline">
  <li class="timeline-item">
  <div class="timeline-content shadow-sm p-3 rounded">
    <!-- Year -->
    <h5>
      <i class="bi bi-calendar3 me-2" style="color: #ffd700;"></i>2022
    </h5>

    <!-- Education -->
    <p>
      <i class="bi bi-mortarboard me-2" style="color: #4dd0e1;"></i>
      Graduated from the Faculty of Pharmacy, Alexandria University
    </p>

    <!-- Job -->
    <p>
      <i class="bi bi-briefcase me-2" style="color: #ff7043;"></i>
      Started working as a community pharmacist
    </p>

    <!-- Courses -->
    <p>
      <i class="bi bi-code-slash me-2" style="color: #81c784;"></i>
      Began learning coding through courses such as:
    </p>
    
    <ul class="list-unstyled ms-4">
      <li>
        <i class="bi bi-book-half me-2" style="color: #cfd8dc;"></i>
        FWD Web Development Professional Track
      </li>
      <li>
        <i class="bi bi-journal-code me-2" style="color: #cfd8dc;"></i>
        JavaScript Course at Elzero Web School
      </li>
      <li>
        <i class="bi bi-mortarboard-fill me-2" style="color: #cfd8dc;"></i>
        CS50: Introduction to Computer Science, Harvard University
      </li>
    </ul>
  </div>
</li>
     <!-- 2023 -->
<li class="timeline-item">
  <div class="timeline-content shadow-sm p-3 rounded">
    <h5>
      <i class="bi bi-calendar3 me-2" style="color: #ffd700;"></i>2023
    </h5>

    <p>
      <i class="bi bi-briefcase me-2" style="color: #ff7043;"></i>
      Shift manager in a community pharmacy
    </p>

    <p>
      <i class="bi bi-code-slash me-2" style="color: #234124;"></i>
      Learning coding through courses such as:
    </p>
    
    <ul class="list-unstyled ms-4">
      <li>
        <i class="bi bi-book-half me-2" style="color: #234124"></i>
        Front End Track - Elzero Web School
      </li>
      <li>
        <i class="bi bi-journal-code me-2" style="color: #234124"></i>
        Started building projects with JS, CSS, HTML
      </li>
    </ul>
  </div>
</li>

<!-- 2024 -->
<li class="timeline-item">
  <div class="timeline-content shadow-sm p-3 rounded">
    <h5>
      <i class="bi bi-calendar3 me-2" style="color: #ffd700;"></i>2024
    </h5>

    <p>
      <i class="bi bi-briefcase me-2" style="color: #ff7043;"></i>
      Shift manager in a community pharmacy
    </p>

    <p>
      <i class="bi bi-code-slash me-2" style="color: #81c784;"></i>
      Learning coding through courses such as:
    </p>
    
    <ul class="list-unstyled ms-4">
      <li>
        <i class="bi bi-book-half me-2" style="color: #cfd8dc;"></i>
        Meta Front End - Coursera
      </li>
      <li>
        <i class="bi bi-journal-code me-2" style="color: #cfd8dc;"></i>
        React courses - YouTube
      </li>
      <li>
        <i class="bi bi-book-half me-2" style="color: #cfd8dc;"></i>
        Back End Track "DJANGO" - ALX
      </li>
      <li>
        <i class="bi bi-journal-code me-2" style="color: #cfd8dc;"></i>
        Started building projects with Django | React
      </li>
    </ul>
  </div>
</li>

<!-- 2025 -->
<li class="timeline-item">
  <div class="timeline-content shadow-sm p-3 rounded">
    <h5>
      <i class="bi bi-calendar3 me-2" style="color: #ffd700;"></i>2025
    </h5>

    <p>
      <i class="bi bi-briefcase me-2" style="color: #ff7043;"></i>
      Shift manager in a community pharmacy
    </p>
    

    <p>
      <i class="bi bi-code-slash me-2" style="color: #19351a;"></i>
      Learning coding through courses such as:
    </p>
    
    <ul class="list-unstyled ms-4">
      <li>
        <i class="bi bi-book-half me-2" style="color: #19351a;"></i>
        Graduated from Back End Track "DJANGO" - ALX
      </li>
      <li>
        <i class="bi bi-book-half me-2" style="color: #19351a;"></i>
        Meta Fullstack - Coursera
      </li>
      <li>
        <i class="bi bi-journal-code me-2" style="color: #19351a;"></i>
        Node.js courses - YouTube
      </li>
      <li>
        <i class="bi bi-journal-code me-2" style="color:#19351a;"></i>
        Started building projects with Node.js | Django | React
      </li>
    </ul>
  </div>
</li>

    </ul>
  </div>
</div>

  <div class="container py-5">
    <h2 class="text-center mb-5"> My Skills </h2>

  <div class="skill">
  <p>HTML</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="95">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>

<div class="skill">
  <p>CSS</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="85">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>
<div class="skill">
  <p>js</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="70">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>
<div class="skill">
  <p>react</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="70">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>
<div class="skill">
  <p>node js</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="85">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>
<div class="skill">
  <p>python</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="70">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>

<div class="skill">
  <p>django</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="80">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>

<div class="skill">
  <p>mongodb</p>
  <div class="skill-bar">
    <div class="skill-fill" data-percent="75">
      <span class="skill-percent">0%</span>
    </div>
  </div>
</div>


 <div class="container py-5">
    <h2 class="text-center mb-10" style="margin-bottom: 20%;">My Projects</h2>

    <section class="projects">

  <div class="projects-container">
    <button class="scroll-btn left" id="scrollLeft">&#10094;</button>
    <div class="projects-wrapper" id="projectsWrapper">


<!-- project1 and its modal -->

        <div class="project-card">
  <img src="/images/front end project.jpg" alt="Project 5">
  <h3>front end project</h3>
  <p>this project i made by html , css and js </p>
  <div class="card-footer bg-transparent border-top-0">
    <button class="btn btn-sm open-modal" data-target="modal1">View Details</button>
    <a href="https://github.com/Mahmoud7mustafa9/front-end-js.git" class="btn btn-outline-dark btn-sm">GitHub</a>
  </div>
</div>

<div class="modal-overlay" id="modal1">
  <div class="modal-box">
    <span class="close-modal">&times;</span>
    <h3 style="text-align: center;">Frontend Project</h3>
    <img src="/images/front end project.jpg" alt="The Frontend Project">
    <div class="text">
      <p>
        This is one of my early frontend projects, built to practice and apply the skills I learned in HTML, CSS, and JavaScript. 
        It was a fun and educational experience that helped me understand layout, styling, and interactive elements on the web.
      </p>
      <h4>Technologies Used:</h4>
      <ul style="list-style: none; padding-left: 0;">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
    </div>
  </div>
</div>

       







 </div>
     <button class="scroll-btn right" id="scrollRight"> &#10095;</button>
        
    </div>
</section>
 </div>

<!-- contact me part -->
   <section id="contact" class="py-5 ">
  <div class="container ">
    <h2 class="text-center mb-5">Contact Me</h2>
    <div class="row text-center mb-5">
  <div class="col-md-4">
    <i class="bi bi-envelope fs-3" style="color: rgb(34 149 139);"></i>
    <p class="mt-2 mb-0">mabdelazize99@gmail.com</p>
  </div>
  <div class="col-md-4">
    <i class="bi bi-phone "style="color: rgb(34 149 139);"></i>
    <p class="mt-2 mb-0">+201556924676</p>
  </div>
  <div class="col-md-4">
    <i class="bi bi-geo-alt fs-3 " style="color: rgb(34 149 139);"></i>
    <p class="mt-2 mb-0">ALEXANDRIA 🌊 , EGYPT </p>
  </div>
</div>

    
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form id="contactForm" method="POST" action="/send-message">
          <div class="mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input  type="text" id="name" name="name" class="form-control" placeholder="mahmoud moustafa" required >
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="name@example.com" required>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Your Message</label>
            <textarea id="message" name="message" class="form-control" rows="5" placeholder="Write your message here..." style="width: 80%;"></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn px-4 send-message">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



 <section id="game" class="py-5 text-light">

  <div class="container text-center">
    <h2 class="mb-4">🎮 My Game Project</h2>
    <p class="lead mb-5">
      A fun and interactive browser game I built using Node Js , JavaScript, HTML, and CSS. <br>  
      Test your skills and see how high you can score!<br>
      Have fun 💪🤸‍♀️ ....

    </p>

    <div class="go row justify-content-center">
      <div class="col-md-8">
        <!-- Game preview -->
        <div class="card bg-secondary border-0 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">THE HANGMAN</h5>
            <p class="card-text">guess the word </p>
            <a href="/play" class="playBtn btn px-4 mt-2">Play Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
   <script src="js/background.js"></script>
   <script src="js/start.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  
    
</body>
</html>