body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(142deg, #060404, #000000a8);
}


label {
    margin: auto;
    margin-bottom: 2%;
}
select {
        width: 15%;
    height: 4%;
    background-color: #0e0d0d;
    color: beige;
}
#startBtn {
        background: #0e470e;
    box-shadow: 7px 4px 6px black;
}
.word {
    font-size: 3rem;
    letter-spacing: 14px;
    margin: 3% 2%;
    font-style: italic;
    font-family: cursive;
    text-transform: uppercase;
    width: 40%;
}
.letterGuessed {
    background-color: #141516;
    text-align: center;
    align-items: center;
    padding-left: 1%;
    border: 4px solid #0000003d;
    border-radius: 20%;
}
#letterInput {
        margin: 1%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 5%;
    background-color: black;
    color: grey;
}


#wrongLetters {
 color: #ff5555;
    margin: 1% 5%;
    font-size: large;
    background-color: #512e2e;
    width: 40%;
    height: 5%;
    align-items: center;
    text-align: center;
    font-weight: bolder;
   display: none;
}
#guessBtn , #resetBtn {
       background: #0e470e;
    box-shadow: 7px 4px 6px black;
    display: none;
}
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
#resultBox {
margin: 6%;
    background: rgb(255 255 255 / 12%);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 6px 7px 32px beige;
}
.hidden {
  display: none;
}
#playerName {
  padding: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: beige;
}
#saveScoreBtn, #playAgainBtn {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
    background: #0e470e;
    box-shadow: 7px 4px 6px black;
  color: white;
  cursor: pointer;
}
#saveScoreBtn:hover, #playAgainBtn:hover {
  background: #14c541;
}

.drew {
background-color: rgb(181 181 140 / 28%);
    width: 20em;
    height: 25em;
    display: flex;
    margin: auto;
    border: 3px solid black;
  position: relative;
    color: black;
}

/* Head */
#head {
  width: 8em;
  height: 8em;
  border: 4px solid black;
  border-radius: 50%;
  background-color: #fff;
  position: relative; /* children absolute positions are relative to head */
  margin: auto;
}

/* Eyes */
#eyeLeft, #eyeRight {
  width: 1em;
  height: 1em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 2.5em;
}

#eyeLeft { left: 2em; }
#eyeRight { right: 2em; }

/* Mouth */
#mouth {
  width: 4em;
  height: 2em;
  border-bottom: 4px solid black;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

/* Tears */
#tearLeft, #tearRight {
  width: 0.5em;
  height: 1em;
  background-color: lightblue;
  border-radius: 50%;
  position: absolute;
  top: 4.5em; /* adjust relative to head */
}

#tearLeft { left: 1.8em; }
#tearRight { right: 1.8em; }

@media(max-width=780px) {

  .word {
    font-size: 3rem;
    letter-spacing: 14px;
    margin: 3% 0% 15%;
    font-style: italic;
    font-family: cursive;
    text-transform: uppercase;
    width: 90%;
    height: 11vh;
}
}

@media(max-width:780px) {
  
  .word {
    font-size: 3rem;
    letter-spacing: 14px;
    margin: 3% 0% 15%;
    font-style: italic;
    font-family: cursive;
    text-transform: uppercase;
    width: 90%;
    height: 11vh;
}
}